name: CI Dev Pipeline

on:
  push:
    branches:
      - dev #Only push in dev branch

jobs:
  create-short-sha:
    runs-on: ubuntu-latest
    outputs:
      SHORT_SHA: ${{ steps.short_sha.outputs.SHORT_SHA }}

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      - id: short_sha # Get short SHA of the commit
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_OUTPUT


  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
        
      - name: Install dependencies #Install dependencies for testing
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install pytest

      - name: Test with pytest #Run tests
        run: |
          pytest app/tests/request-test.py

  build-and-push-docker:
    needs: [build-and-test, create-short-sha]
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login in Docker Hub  # Login to Docker Hub with secrets
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image # Build and push Docker image to Docker Hub
      uses: docker/build-push-action@v3
      with:
        context: .
        file: app/Dockerfile
        push: true
        tags: gabrielcarl/devops-project:${{ needs.create-short-sha.outputs.SHORT_SHA }}-dev

  local-deployment:
    needs: [build-and-push-docker, create-short-sha]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: engineerd/setup-kind@v0.6.2 # Create a local Kubernetes cluster using kind

    - name: Cluster Info
      run: | 
        kind get clusters
        kubectl cluster-info

    - name: push Docker image to kind cluster # Push Docker image to kind cluster
      run: |
        docker pull gabrielcarl/devops-project:${{ needs.create-short-sha.outputs.SHORT_SHA }}-dev
        kind load docker-image gabrielcarl/devops-project:${{ needs.create-short-sha.outputs.SHORT_SHA }}-dev

    - name: Change tag in k8s deployment # Use sed to change k8s file
      run: |
        sed -i 's|image: gabrielcarl/devops-project:-dev/image: gabrielcarl/devops-project:${{ needs.create-short-sha.outputs.SHORT_SHA }}-dev|g' k8s/deployment.yaml

    - name: Deploy to kind cluster # Deploy k8s files to kind cluster
      run: |
        kubectl apply -f k8s/
        kubectl get all



    
