name: CI Prod Pipeline

on:
  push:
    branches:
      - main #Only push in main branch
  pull_request:
    branches:
      - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up python
          uses: actions/setup-python@v2
          with:
            python-version: '3.8'
        
        - name: Install dependencies #Install dependencies for testing
          run: |
                python -m pip install --upgrade pip
                pip install -r app/requirements.txt
                pip install pytest

        - name: Test with pytest #Run tests
          run: |
                pytest app/tests/request-test.py

    build-output:
        runs-on: ubuntu-latest
        
        outputs: #Capture short SHA output
            short-sha: ${{ steps.short-sha.outputs.SHORT_SHA }}
        steps:

          - name: Checkout
            uses: actions/checkout@v4
            
          - id: short-sha
            name: Get Short SHA
            run: | 
                SHA=$(git rev-parse --short HEAD)
                echo "Intermediate var: $SHA"
                echo "SHORT_SHA=$SHA" >> $GITHUB_OUTPUT
                echo "final output: $SHORT_SHA"

            
          - name: View short SHA
            run: echo "Short SHA is ${{ steps.short-sha.outputs.SHORT_SHA }}"


    trivy-scan:
        needs: [build-and-test, build-output]
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: short-sha verification
              run: echo "Short SHA is ${{ needs.build-output.outputs.short-sha }}"

            - name: Build local image
              run: docker build -t orders:${{ needs.build-output.outputs.short-sha }}-stag app/Dockerfile

            - name: Run Trivy vulnerability scanner #Trivy configuration
              uses: aquasecurity/trivy-action@0.28.0
              with:
                image-ref: 'orders:${{ needs.build-output.outputs.SHORT_SHA }}-stag'
                format: 'table'
                exit-code: '1'
                ignore-unfixed: true
                vuln-type: 'os,library'
                severity: 'CRITICAL'

    build-and-push-docker:
        needs: build-and-test
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Login in Docker Hub  # Login to Docker Hub with secrets
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build and push Docker image # Build and push Docker image to Docker Hub
          uses: docker/build-push-action@v3
          with:
            context: .
            file: app/Dockerfile
            push: true
            tags: gabrielcarl/devops-project:${{ needs.build-output.outputs.short-sha }}-stag
